.container {
	box-sizing: 100px;

	margin: 100px 500px;
	width: 40%;
	border: none; /* dotted dashed*/
	border-top: none;
}
main{
	padding: 10px;
	background-color: rgba(255, 224, 222, 0.5);
}
main article {
	list-style: none;
	display: inline-block;
	width: 21%;
	background-color: rgba(252, 179, 179, 0.5);
	padding: 10px;
	text-align: left;

}
header {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;

}
h1 {
	text-align: center;
}
.fa-angle-double-right {
	color: rgba(0,0,0, 0.5);
}
.about_us {
	background-color: rgba(255, 25, 0, 0.5);
	box-sizing: 100px;
	text-align: center;
	width: 100%;
	border: 1px solid #000; /* dotted dashed*/
	border-top: 1px dashed;
	border-left: none;
	border-right: none;
	padding-bottom: 10px;
	border-bottom: 1px dashed;
}
.triangle {
	width: 20px;
	height: 20px;
}
h1 {
  display: block;
  margin-left: center;
  margin-right: center;
}
.list {
	display: inline-block;
}
footer{
	display: inline-block;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	width: 100%;

}
footer h4 {
	margin-right: 10px;
	display: inline;
}
footer p {
	color: rgba(0, 0, 0, 0.3);
	display: inline;
}